*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* banner section styles here */
.banner-section{
    background: linear-gradient(to left, #010b13b0, #0c0c0c);
    opacity: 1;
    background-image: url(./Images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
      max-width: 1000px;
    margin: auto;
    height: 90vh;
    position: sticky;
  
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-container{
    margin-top: 14rem;
  text-align: center;
}
.banner-title{
   color: #ffff;
   font-size: 2.6rem;
   font-weight: bold;
}
.banner-description{
   color: #ffff;
   font-size: .9rem;
}

.banner-button-types{
    display: flex;
    justify-content: center;
    /* background-color: rgba(196, 231, 231, 0.87); */

    max-width: 50%;
    padding: .7rem 0;
    margin: auto;
}
.banner-btn{
    background-color: #fff;
    padding: .6rem;
  border-radius: 4px;
    margin: .8rem;
}
.banner-btn i{
    font-size: .8rem;
}
.banner-btn-orange{
   background-color: #FF5400;
   padding: .6rem;
   border-radius: 4px;
     margin: .8rem;
     font-size: .9rem;
     color: #fff;
}
.banner-btn span{
   color: grey;
   font-size: .8rem;
}

/* bannner section ends here */

/* popular touris place section start here */
.popular-section{
    max-width: 1000px;
    margin: 2rem  auto;
    display: flex;
gap: 3rem;
    justify-content: space-between;
}
.popular-container{
    flex: 1;
}
.popular-title{
    font-size: 2rem;
    color: black;
    font-weight: bold;
   margin-bottom: 1rem;
}
.popular-container  p ,ul ,li{
   color: gray;
    padding: .8rem 0;
    text-decoration-line: none;
    text-decoration: none;
}
.popular-btn{
    background-color:#FF5400 ;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    padding: .7rem 1.6rem;
    border-radius: 4px;
}
.popular-img{
    flex: 1;
}
.popular-img img{
    width: 100%;
    height: 100%;
}
/* popular touris place section ends here */