*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* banner section styles here */
.banner-section{
    background: linear-gradient(to left, #010b13b0, #0c0c0c);
    opacity: 1;
    background-image: url(./Images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
      max-width: 1000px;
    margin: auto;
    height: 90vh;
    position: sticky;
  
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-container{
    margin-top: 14rem;
  text-align: center;
}
.banner-title{
   color: #ffff;
   font-size: 2.6rem;
   font-weight: bold;
}
.banner-description{
   color: #ffff;
   font-size: .9rem;
}

.banner-button-types{
    display: flex;
    justify-content: center;
    /* background-color: rgba(196, 231, 231, 0.87); */

    max-width: 50%;
    padding: .7rem 0;
    margin: auto;
}
.banner-btn{
    background-color: #fff;
    padding: .6rem;
  border-radius: 4px;
    margin: .8rem;
}
.banner-btn i{
    font-size: .8rem;
}
.banner-btn-orange{
   background-color: #FF5400;
   padding: .6rem;
   border-radius: 4px;
     margin: .8rem;
     font-size: .9rem;
     color: #fff;
}
.banner-btn span{
   color: grey;
   font-size: .8rem;
}

/* bannner section ends here */

/* popular touris place section start here */
.popular-section{
    max-width: 1000px;
    margin: 2rem  auto;
    display: flex;
gap: 3rem;
    justify-content: space-between;
}
.popular-container{
    flex: 1;
}
.popular-title{
    font-size: 2rem;
    color: black;
    font-weight: bold;
   margin-bottom: 1rem;
}
.popular-container  p ,ul ,li{
   color: gray;
    padding: .8rem 0;
    text-decoration-line: none;
    text-decoration: none;
}
.popular-btn{
    background-color:#FF5400 ;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    padding: .7rem 1.6rem;
    border-radius: 4px;
}
.popular-img{
    flex: 1;
}
.popular-img img{
    width: 100%;
    height: 100%;
}
/* popular touris place section ends here */

/* destination section styles start here */
.destination-section{
    max-width: 1000px;
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
}
.destination-title{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin: 1rem 0;
}
.destination-description{
    font-size: 1rem;
    text-align: center;
    color: gray;
    margin-bottom: 1rem;
}
.first-div{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.maldives img{
    width: 100%;
}
.maldives-title{
    position: relative;
    bottom: 9rem;
    left: 12rem;
    color: white;
    font-size: 1.8rem;
}

.indonesia-title{
    position: relative;
    bottom: 9rem;
    left: 12rem;
    color: white;
    font-size: 1.8rem;
}
.indonesia img{
    width: 100%;
}
.secound-div{
    display: flex;
}
.srilanka  img{
width: 90%;
}
.america img{
    width: 90%;
}
.kashmir img{
    width: 90%;
   
}
.srilanka h2{
    position: relative;
    bottom: 9rem;
    left: 7rem;
    color: white;
    font-size: 1.8rem;
}
.america h2{
    position: relative;
    bottom: 9rem;
    left: 8rem;
    color: white;
    font-size: 1.8rem;
}
.kashmir h2{
    position: relative;
    bottom: 9rem;
    left: 4rem;
    color: white;
    font-size: 1.8rem;
}
.third-div{
    display: flex;
  gap: 2rem;

}
.bangladesh img{
    width: 100%;
}
.bandorban img{
    width: 100%;
}
.bangladesh h2{
    position: relative;
    bottom: 9rem;
    left: 9rem;
    color: white;
    font-size: 1.8rem;
}
.bandorban h2{
    position: relative;
    bottom: 9rem;
    left: 12rem;
    color: white;
    font-size: 1.8rem;
}
/* destination section styles ends here */
/* why chose section styles start here */
.why-chose-section{
    max-width: 1000px;
    margin: auto;
   
}

.chose-title{
    font-size: 2rem;
    text-align: center;
}
.chose-description{
    font-size: 1rem;
    color: gray;
    text-align: center;
}
.all-container{
display: flex;
justify-content: center;
    align-self: center;
    gap: 2rem;
    padding: 2rem .5rem;
}
.house-container{
    background-color: bisque;
    padding: .5rem .5rem;
    border-radius: 10px;
    flex: 1;
}
.house-container h2{
    font-size: 1.3rem;
    padding:  0 1rem;
}
.house-container p{
    color: gray;
    font-size: 1rem;
    padding: 1rem;
}
.house-container img{
    width: 15%;
    margin: .5rem 1rem;
    
    }
.maps-container{
    background-color: rgba(189, 254, 255, 0.918);
    padding: .5rem .5rem;
    border-radius: 10px;
    flex: 1;
}

.maps-container img{
    width: 15%;
    margin: .5rem 1rem;
    }
    .maps-container h2{
        font-size: 1.3rem;
        padding:  0 1rem;
    }
    .maps-container p{
        color: gray;
           padding: 1rem;
         }

    .best-container img{
       width: 15%;
       
        margin: .5rem 1rem;
    }
    .best-container h2{
        font-size: 1.3;
    }

    .best-container-div{
        display: flex;
        background-color:rgb(233, 218, 197);
        width: 50%;
        margin: auto;
        justify-content: center;
        padding: .5rem .5rem;
        border-radius: 10px;
    }
    .best-container h2{
        font-size: 1.3rem;
        padding:  0 1rem;
    }
 .best-container p{
    color: gray;
    font-size: 1rem;
    padding: 1rem;
 }

/* why chose section styles ends here */

/* deasl and discount styles start here */
.deal-discount-section{
max-width: 1000px;
margin: 4rem auto;
}
.deals-title{
    text-align: center;
    font-size: 2rem;
    margin: .2rem;
}
.deals-description{
    text-align: center;
    color: gray;
    font-size: 1rem;
    margin: 1rem;
}
.discount-container{
    background-image: url(./Images/Group\ 39.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:  10px ;
   height: 80vh;
}
.deals-discount-container{
    position: relative;
 width: 40%;
top: 25%;
left: 55%;
padding: 2rem 0;
opacity: .8;
  background-color: #fff;
  border-radius: 10px;
    z-index: calc(2 );
}
.icon-container{
    display: flex;
    justify-content: center;
}
.clock{
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: space-between;
}
.user{
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: space-between;
}
.location{
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: space-between;
}
.clock .user .location i ,i{
    color: #FF5400;
    font-size: 1rem;
    margin: 0 .6rem;
}
.deals-sub-title{
    margin: .6rem 2rem;
}
.deals-sub-description{
    margin: .6rem 2rem;
    color: gray;
}
.price{
    margin: .6rem 2rem;
    color: #FF5400;
}
.deals-btn{
    background-color: #FF5400;
    padding: .6rem 1rem;
    margin: 0 2rem;
    color: white;
    border: none;
    border-radius: 4px;
}
/* deasl and discount styles ends here */

/* deals and discount styles start here */
.deal-discount--second-section{
    max-width: 1000px;
    margin: auto;
}
.discount-secound-container{
    background-image: url(./Images/Group\ 40.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:  10px ;
   height: 80vh;
}
.deals-discount-secound-container{
    position: relative;
    width: 40%;
   top: 25%;
   left: 5%;
   padding: 2rem 0;
   opacity: .8;
     background-color: #fff;
     border-radius: 10px;
       z-index: calc(2 );
}
/* deals and discount styles ends here */

/* perfect place styles start here */
.perfect-place-section{
    max-width: 1000px;
    margin: 5rem auto;
    display: flex;
    gap: 3rem;
}
.place-container h1{
    margin: .4rem 0;
}
.place-container p{
    color: gray;
}
.place-container{
    flex: 1;
    padding: 1rem 1.6rem;
}
.place-img{
    flex: 1;
}
.place-img img{
    width: 100%;
    padding: 1rem 0;
}
.place-btn{
    background-color: #FF5400;
    color: white;
    font-size: 1rem;
    padding: .5rem .8rem;
    border: none;
    border-radius: 6px;
}
.mountain{
    position: relative;
     bottom: 50%;
    color: white;
    left: 20%;
    font-size: 1rem;
}
.video-icons{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 25%;
    color: white;
    border-bottom: 5px solid white;
    padding: 5px;
    margin: 0 .5rem;

}
.cancle-bar  i{
color: white;
}
.pause-bar i{
color: white;
}
/* perfect place styles ends here */

/* form section styles start here */
.form-section{
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 3rem;
}
.form-title{
    font-size: 1rem.6rem;
    margin: .5rem 0;
    margin-left: 3rem;
}
.form{
  border-radius: 8px;
    border: 2px solid #FF5400;
 flex: 1;
}
.form-description{
    color: gray;
    font-size: 1rem;
    padding: .6rem 0;
    margin-left: 3rem;
}
input{
    width: 70%;
  background-color: lightgray;
    padding: .6rem;
    border-radius: 4px;
    margin: .5rem ;
    margin-left: 3rem;

    border: none;
}
.horizontal{
    width: 70%;
    margin: .5rem 0;
    margin-left: 3rem;
}


.subscribe-btn{
    background-color: #FF5400;
    padding: .6rem 1rem;
    width: 70%;
    margin: 1rem  auto;
    color: white;
   margin-left: 3rem;
    border: none;
    border-radius: 4px;
}
.form-img{
    flex: 1;
}
.form-img img{
    width: 100%;
    height: 100%;
}
.save-up{
    background-color: #FF5400;
    text-align: center;
    color: white;
    position: relative;
    bottom: 6rem;
    left: 15rem;
    width: 40%;
    padding: .6rem;
    border-radius: 6px;
    
}
/* form section styles ends here */
footer{
    background-color: aliceblue;
  max-width: 1100px;
   margin: auto;
 padding: 2rem;
 border-radius: 10px;
    /* margin-top: 3rem;
    padding: 3rem 0; */
}
.logo-container{
   width: 200px;
    margin: auto;
    display: flex;
  justify-content: center;

    align-items: center;

}
.footer-title{
    margin: .6rem auto;
}
.logo-container img{
    width: 34px;
}
.footer-hr{
    width: 70%;
    margin: 1rem 0;
    margin: auto;

}
.footer-description{
  width: 50%; 
text-align: center;
 margin-bottom: 1rem;
 margin: auto;
   margin-bottom: 25px;
  

 
    color: gray;
}
.footer-icons {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: center;
    color: black;
}
.footer-icons i{
    color: black;
    margin: 1rem;
    font-size: 1.5rem;
}
.footer-sub-descrition{
    font-size: 1rem;
    width: 50%;
    text-align: center;
    margin: auto;
    
}
.span{
    color: #FF5400;
    font-weight: bold;
}
