
/* banner section styles here  */
@media (min-width:600px) and (max-width:992px) {
     
    .banner-section{ 
        flex-direction: column;
        border-radius: 0%;
        height: 100%;
       background-repeat: no-repeat;
       background-size: cover;
       margin: auto;
       
    }
    .banner-container{
        max-width: 80%;
    }
    .banner-button-types{
    flex-direction: column;
    }

    .banner-btn{
        display: flex;
        justify-content: space-between;
        width: 300px;
        margin: .6 auto;
    }
    .banner-btn-orange{
        display: flex;
        justify-content: space-between;
        width: 300px;
        margin: .6 auto;
    }
  
/* popular section styles start here */
.popular-section{
    flex-direction: column;
}

.popular-container{
margin: auto 2rem;
}
.popular-img{
    margin: auto 2rem;
}
/* popular section styles ends here */

/* destination section start here */
.destination-section{
    max-width: 1000px;
    margin: auto 4rem;
}
.maldives-title{
    position: relative;
    bottom: 8rem;
   left: 8rem;
  
    color: white;
    font-size: 1.4rem;
}

.indonesia-title{
    position: relative;
    bottom: 8rem;
    left: 8rem;
    color: white;
    font-size: 1.4rem;
}
.srilanka h2{
    position: relative;
    bottom: 6rem;
    left: 5rem;
    color: white;
    font-size: 1.4rem;
}
.america h2{
    position: relative;
    bottom: 6rem;
    left: 4rem;
    color: white;
    font-size: 1.4rem;
}
.kashmir h2{
    position: relative;
    bottom: 6rem;
    left: 2rem;
    color: white;
    font-size: 1.4rem;
}
.bangladesh h2{
    position: relative;
    bottom: 7rem;
    left: 5rem;
    color: white;
    font-size: 1.8rem;
}
.bandorban h2{
    position: relative;
    bottom: 7rem;
    left: 8rem;
    color: white;
    font-size: 1.8rem;
}
/* destination section ends here */

/* deals and discount section styles here */
.discount-container{
    margin-left: 5rem;
    width: 100%;
       height: 100vh;
    }
    .deals-discount-container{
        position: relative;
     width: 60%;
    top: 25%;
    left: 30%;
    
    }
    .clock,
    .user,
    .location{
        flex-direction: row;
        align-items: center;
    }
}